<div>
    <a href = "{{product.url}}" >
        <h3>{{product.title}}</h3>
        <img src="{{product.featured_image | image_url}}" height="450px" width = "200px"/>
        <p>{{product.price | money}}</p>
    </a>
</div>